.item-add-form {
  margin-top: 20px;
  margin-bottom: 10px;
}
.item-add-form input {
  margin-right: 5px;
  height: 40px;
  color: #ddd;
}
.item-add-form input::placeholder {
  color: #aaa;
}

.item-add-form button {
  height: 40px;
  width: 120px;
  border-radius: 5px;
}
.item-add-form button:hover {
  background-color: #aaa;
}
